<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="base">Base</label>
        <input type="number" step="any" min="0" required name="base">
        <label for="altura">Altura</label>
        <input type="number" step="any" min="0" required name="altura">
        <input type="submit" value="calcular">
    </form>
    <p> {{ datos }} </p>
</body>
</html>